<!DOCTYPE html>
<html lang="en">
    

<head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
         <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css"  id="app-stylesheet" />

    </head>

    <body>

        <div class="account-pages pt-5 my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="account-card-box">
                            <div class="card mb-0">
                                <div class="card-body p-4">
                                     <% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
  <% } %>
    
  <% if (messages.success) { %>
      <p style="color:green"><%- messages.success %></p>
  <% } %>
                                    <div class="text-center">
                                        <div class="my-3">
                                            <a href="index.html">
                                                <span><img src="assets/images/logo.png" alt="" height="28"></span>
                                            </a>
                                        </div>
                                        <h5 class="text-muted text-uppercase py-3 font-16">Sign In</h5>
                                    </div>
    
                                    <form action="/check-user" method="post" class="mt-2">
    
                                        <div class="form-group mb-3">
                                            <input class="form-control" type="email" name="email" required="" placeholder="Enter your username">
                                        </div>
    
                                        <div class="form-group mb-3">
                                            <input class="form-control" type="text" name="password" required="" id="password" placeholder="Enter your password">
                                        </div>
    
                                        
    
                                        <div class="form-group text-center">
                                            <button class="btn btn-success btn-block waves-effect waves-light" type="submit"> Log In </button>
                                        </div>

                                        
    
                                    </form>

                                    
    
                                </div> <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

        <!-- Vendor js -->
        <script src="./assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="./assets/js/app.min.js"></script>
        
    </body>

</html>